/*  Global */
*{
	font-family:"Avenir", Tahoma, Arial, sans-serif !important;
	font-weight:200;
}
.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
img{
	width:100%;
}

.header-logo{
	max-width:265px;
	margin-top:6px;
}

.main-header.ui-header{
	text-align:center;
	border:none;
	border-left-width: 1px;
	border-left-style:solid;
	background: #FFF url(../img/header-bg.jpg) repeat-x;
	-webkit-box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
}
.main-header.ui-header:after{
	position:absolute;
	top:0;
	left:15px;
	content:"";
	border-right:#e87b5e solid 1px;
	width:1px;
	height:100%;
	display:block;
}

.ui-page, .ui-panel-content-wrap{
	border:none;
}

#conf_footer.ui-footer, #conf_footer-main.ui-footer{
	background:#FFF;
	border:none;
	padding:10px 0;
}

#conf_footer.ui-footer{
	-webkit-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.4);
	box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.4);
}

#conf_footer.ui-footer.search-footer{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

#conf_footer.ui-footer, #conf_footer-main.ui-footer{
	padding:15px 0;
}

#conf_footer.ui-footer li{
	padding:0 25px;
	background:#FFF;
	text-align:center;
}

#conf_footer-main.ui-footer li  {
	padding:0 25px;
	background:#FFF;
	text-align:center;
}

#conf_footer, #conf_footer-main{
	border:none;
}

#conf_footer li a, #conf_footer-main li a{
	background:#FFF;
	border:none;
}

#conf_footer li .ui-btn-inner{
	padding:0;
	text-align:center;
}

#conf_footer li a {
}

#conf_footer li a.ui-btn{
	width:62px;
	height:62px;
	margin:0;
	display:inline-block;
	background-size:contain;
}

#conf_footer li a.favorite-footer-icon.ui-btn{
	background:url(../img/footer-btn-favorites-up.jpg) no-repeat;
	background-size:62px 62px;
}

#conf_footer li a.search-footer-icon.ui-btn{
	background:url(../img/footer-btn-search-up.jpg) no-repeat;
	background-size:62px 62px;
}

#conf_footer li a.home-footer-icon.ui-btn{
	background:url(../img/footer-btn-home-up.jpg) no-repeat;
	background-size:62px 62px;
}

#conf_footer li a.favorite-footer-icon.ui-btn:active, #conf_footer li a.favorite-footer-icon.ui-btn.icon-current{
	background:url(../img/footer-btn-favorites-down.jpg) no-repeat;
	background-size:62px 62px;
}

#conf_footer li a.search-footer-icon.ui-btn:active, #conf_footer li a.search-footer-icon.ui-btn.icon-current{
	background:url(../img/footer-btn-search-down.jpg) no-repeat;
	background-size:62px 62px;
}

#conf_footer li a.home-footer-icon.ui-btn:active, #conf_footer li a.home-footer-icon.ui-btn.icon-current{
	background:url(../img/footer-btn-home-down.jpg) no-repeat;
	background-size:62px 62px;
}


#conf_footer li.border-right, #conf_footer-main li.border-right{
	border-right:1px solid #c5c5c5;
}

#conf_footer-main li a.ui-btn{
	width:125px;
	height:42px;
	margin:0;
	display:inline-block;
	background-size: 125px 42px;
}

#conf_footer-main li a.wg-logo-home.ui-btn{
	background:url(../img/wintergroup.jpg) no-repeat;
	background-size: 125px 42px;
}

#conf_footer-main li a.mch-logo-home.ui-btn{
	background:url(../img/mch.jpg) no-repeat;
	background-size: 125px 42px;
}

#conf_footer-main li a.wg-logo-home.ui-btn:active{
	background:url(../img/wintergroup-down.jpg) no-repeat;
	background-size: 125px 42px;
}

#conf_footer-main li a.mch-logo-home.ui-btn:active{
	background:url(../img/mch-down.jpg) no-repeat;
	background-size: 125px 42px;
}

.map-canvas {
	width:100%;
	min-height:300px;
}

.ui-content .ui-li-desc, .ui-li .ui-btn-text a.ui-link-inherit, .ui-content .ui-li-desc h3, .ui-li h3{
	white-space:normal;
}

p.ui-li-desc{
	padding-top:10px;
}

.ui-input-search, .ui-input-search{
	margin-bottom:25px;
	background-image: none;
	background:none;
}

.ui-listview-filter{
	border:none;
	background:none;
	background-image:none;
}

.ui-li-aside{
	margin-right:40px;
}

/*  Splash Page */

#splash.ui-content, #splash.ui-page{
	background:#53e1dd;
	/*background-image: url(../img/splash-page-bg.png), url(../img/splash-page-bg-bottom.png);*/
	background-position: top, bottom;
	background-repeat: repeat-x;	
	text-align:center;
}

#conf_footer-splash{
	background:url(../img/splash-footer-bg.jpg) repeat;
}

#conf_footer-splash img{
	max-width:350px;
	text-align:center;
	padding:10px 0;
}

.splash-image{
	margin: 30px auto;
	text-align:center;
	max-width:400px;
	display:inline-block;
}

/* Main Page */
#main-nav-bar{
	height:100%;
	display:none;
}
#main-nav-bar ul{
	display:block;
	height:100%;
	position:relative;
}
#main-nav-bar ul li{
	width:100%;
	display:table-cell;
	height:50%;
}
#main-nav-bar ul li a{
	width:100%;
	display:block;
	height:100%;
	outline:#FFF 4px solid;
	position:relative;
	text-indent:-9999px;
}
#main-nav-bar ul li a .ui-btn-inner{
	position:absolute;
	bottom:1%;
	left:50%;
	margin-left:-150px;
	width:300px;
	font-size:36px;
	color:#FFF;
	z-index:999;
	line-height:1;
	border:none;
	opacity:0.7;
}

#main-nav-bar #search-home{
	background:#e87b5e url(../img/search-home-text.png) no-repeat center center;
	background-size: contain;
}
#main-nav-bar #favorites-home{
	background:#56ccc7 url(../img/favorites-home-text.png) no-repeat center center;
	background-size: contain;
}
#main-nav-bar #search-home:active{
	background:#e87b5e url(../img/search-home-down-text.png) no-repeat center center;
	background-size: contain;
}
#main-nav-bar #favorites-home:active{
	background:#56ccc7 url(../img/favorites-home-down-text.png) no-repeat center center;
	background-size:contain;
}

#main-nav-bar .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a{
	border:none;
}

/* Search Sub Pages */
.ui-listview .search-item, .ui-listview li{
	background:#FFF;
	margin-bottom:4px;
	margin-top:4px;
	padding:10px 0;
	border:none;
}

.search-content-links a.ui-link-inherit{
	color:#8c7e73;
}

.conf-pages #header h1{
	font-size:16px;
	text-align:left;
}
h4.search-title{
	padding:33px 0 33px 115px;
	font-size:20px;
	line-height:1.25;
	vertical-align:middle;
	margin:0;
}
h4.by-cat{
	background:transparent url(../img/bg-stickies-category.png) no-repeat left center;
}
h4.by-name{
	background:transparent url(../img/bg-stickies.png) no-repeat left center;
}
h4.by-date{
	background:transparent url(../img/bg-stickies-dates.png) no-repeat left center;
}
.conf-pages .conf-main-pages, .conf-pages .ui-page, .conf-pages ui-body-c, .conf-pages, .conf-pages .ui-page-header-fixed, .conf-pages .ui-page-footer-fixed, .conf-pages .ui-page-panel, .conf-pages .ui-page-active, .conf-pages .ui-panel-content-wrap{
background:#ebdbce;
background-image:none;	
}
.ui-footer ui-bar-a .ui-footer-fixed{
	border:none;
}
.conf-pages .ui-responsive-panel .ui-panel .ui-panel-position-left, .conf-pages .ui-responsive-panel .ui-panel .ui-panel-inner{
	background-color:#54918f;
	background:#54918f;
	color:rgba(255,255,255,1.00);
}
.conf-pages .ui-panel, .conf-pages .ui-panel li{
	border:none;
	color:rgba(255,255,255,1.00);
	background:none;
	padding:0;
	width:150px;
	background-color:#54918f;
	background:#54918f;
	border:none;
}

.conf-pages .ui-btn-inner {
	border:none;
}

.conf-pages .ui-header{
	height:auto;
	padding:15px;
}

.conf-pages .ui-header h1.ui-title{
	font-size:20px;
	text-align:left;
	margin:8px 0 8px 55px;
}

.conf-pages .ui-header a{
	background:none;
	border:none;
	padding:0;
}

.conf-pages a.menu-icon.ui-btn-left{
	width:46px;
	height:46px;
	background:url(../img/menu-icon.png);
	text-indent:-9999px;
	top:10px;
	left:10px;
}

.conf-pages .ui-header a{
	background:none;
	border:none;
	padding:0;
	display:block;
}

.ui-panel .ui-btn-hover-a:visited, .ui-panel .ui-btn-hover-a:hover, .ui-panel .ui-btn-hover-a a.ui-link-inherit{
	color: 
	#fff;
	text-shadow:none;
}

a.ui-link-inherit:hover, .a.ui-link-inherit {
color: 
#78a4a4;
text-shadow:none;
}
a.ui-link-inherit:hover, a.ui-link-inherit {
color: 
#78a4a4;
text-shadow:none;
}

.search-content-links a.ui-link-inherit:hover, .search-content-links a.ui-link-inherit:active{
	color:#675e56;
}

.conf-pages .ui-header .ui-btn-inner{
	background:none;
	border:none;
	padding:0;
	margin:0;
}

.ui-listview .search-item.search-date, .ui-listview li{
	background:#fff url(../img/fav-day-bg.png) repeat-y;
	position:relative;
}

.conf-pages .fav-divider.year{
	background:#29c2bc;
	margin-bottom:-5px;
	border-top:#25aaa5 6px solid;
	color:#fff;
	font-weight:100;
}

.name-footer-links, .date-footer-links, .category-footer-links, .favorite-footer-links{
	display:none;	
}

/***** Favorites Page Styles *****/
#myconferencelist.ui-content, #myconferencelist.ui-page{
	background:#ebdbce;
}

#myconferencelist .ui-page, #myconferencelist ui-body-c, #myconferencelist, #myconferencelist .ui-page-header-fixed, #myconferencelist .ui-page-footer-fixed, #myconferencelist .ui-page-panel, #myconferencelist .ui-page-active, #myconferencelist .ui-panel-content-wrap{
background:#ebdbce;
background-image:none;	
}

#myconferencelist .ui-listview .search-item, .ui-listview li{
	background:#fff url(../img/fav-day-bg.png) repeat-y;
	position:relative;
	margin:1px 0;
}

.fav-day{
	display:inline-block;
	color:#fff;
	font-size:18px;
	text-align:center;
	position:absolute;
	top:center;
	left:center;
}

.fav-name{
	display:inline-block;
	float:left;
	margin-left:40px;
}

#myconferencelist .fav-divider{
	background:#2da4b1;
	color:#fff;
	margin-bottom:0;
	margin-top:5px;
	border-top:#2f929d 6px solid;
	font-weight:100;
	text-shadow:none;
}

#myconferencelist .fav-divider.year{
	background:#29c2bc;
	margin-bottom:-5px;
	border-top:#25aaa5 6px solid;
}

#myconferencelist .ui-listview .search-item, .ui-listview li:first-child{
	margin-top:0;
}

.ui-li, .ui-li.ui-field-contain {
	border-top-width:0;
}


/***** Conference Page Styles *****/

.conf-pages a.menu-icon-low.ui-btn-left{
	width:46px;
	height:46px;
	background:url(../img/menu-icon.png);
	text-indent:-9999px;
	top:16px;
	left:10px;
}

h1.conf-header.ui-title{
	font-size:12px;
	text-align:center;
	color:#FFF;
	white-space:normal;
	text-shadow:none;
}

.conf-pages .conf-main-pages .ui-panel-content-wrap .ui-body-c{
	padding:40px;
}
#conf-page-container{
	margin:0;
	padding:10px;
	color:rgb(255,255,255);
	text-shadow:none;
	font-size:14px;
}

#conf-page-container .ui-listview .search-item, #conf-page-container .ui-listview li.search-item{
	background:#FFF;
	margin-bottom:4px;
	margin-top:4px;
	padding:10px 0;
	border:none;
}

#conf-page-container .tab-wrapper .ui-link, #conf-page-container .tab-wrapper .ui-link:hover{
	text-decoration:none;
	color:#38aba6;
}

#conf-page-container .ui-link{
	text-decoration:none;
}

#conf-page-container .map-button .ui-link{
	color:#fff;
}

#conf-page-container div.web-link{
	text-align:center;
	color:#fff;
	font-size:18px;
	padding:60px 15px 15px 15px;
	background: #afa7a5 url(../img/category-icon.png) no-repeat center 15px;
}

#conf-page-container div.web-link-att{
	background: #afa7a5;
	text-align:center;
	color:#fff;
	font-size:18px;
	padding:5px;
}

.flexbox {		
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: start;
	
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: start;
	
  display: box;
  box-orient: horizontal;
  box-pack: start;
  box-align: start;
	
  overflow: hidden;
  font-size:18px;
  line-height:1.2;
  outline:#ebdbce 1px solid;
}

.flexbox .small{
	font-size:15px;
	margin-top:5px;
	line-height:1.1;
	display:block;
}

.flexboxtwo{
	margin-bottom:10px;
}

.flexbox .col {
  width: 45%;
  padding: 20px 3% 20px 3%;
	
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.flexbox .col b{
  font-weight:600;	
}

.flexbox .col-full{
  width: 92%;
  padding: 20px 3% 40px 3%;
	
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.flexbox .col.favbtn{
  width: 45%;
  padding: 20px 3% 40px 3%;
	
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.flexbox .col .favbtn p{
	margin:0;
	padding:0;
}

.flexbox .col.favbtn a, .flexbox .col-full a, .flexbox .col.favbtn a:hover, .flexbox .col-full a:hover{
	text-decoration:none;
	color:#fff;
	font-weight:100;
	display:block;
	padding: 30px 0 5px 0;
	font-size:18px;
}

.flexbox .col.colweblink a, .flexbox .col-full a, .flexbox .col.favbtn a:hover, .flexbox .col-full a:hover{
	text-decoration:none;
	color:#fff;
	font-weight:100;
	display:block;
	padding: 30px 0 5px 0;
	font-size:18px !important;
}

.flexbox .col-cat{
  width: 45%;
  padding: 20px 3% 40px 3%;
	
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.flexbox .col p {
  margin-bottom: 30px;
}

.flexbox .col:nth-child(1), .flexbox .col .favbtn:nth-child(1), .flexbox .col-cat:nth-child(1), .flexbox .col-full:nth-child(1) {
  -moz-box-ordinal-group: 2;
  -webkit-box-ordinal-group: 2;
  box-ordinal-group: 2;
  background: #f19279;
}

.flexbox .col:nth-child(2){
  -moz-box-ordinal-group: 1;
  -webkit-box-ordinal-group: 1;
  box-ordinal-group: 1;
  background: #e87b5e;
}

.flexbox .col.favbtn:nth-child(2){
	background: #b0948c url(../img/favorite-icon.png) no-repeat center 15px;
	text-align:center;
	padding-top:35px;
}

.flexbox .col-cat:nth-child(1){
	background: #afa7a5 url(../img/category-icon.png) no-repeat center 15px;
	text-align:center;
	padding-top:30px;
	text-align:center;
}

.flexbox .coldatapoint:nth-child(2){
	text-align:center;
	background:#a99c98;
}

.flexbox .colweblink:nth-child(1){
	text-align:center;
	background:#b59f99 url(../img/visit-site-icon.png) no-repeat center 15px;
}

.flexbox .coldatapoint p, .flexbox .colweblink p, .flexbox .col-cat p{
	color:#fff;
	margin:0;
	padding:5px 0;
	font-size:18px;
}

.flexbox .col-cat span{
	padding-bottom:10px;
}

.flexbox .col-cat p{
	padding:30px 0 0 0;
}

.flexbox .colweblink p{
	font-size:18px;
	padding:15px;
}

.flexbox .coldatapoint img, .web-link img, .web-link-att img{
	max-width:120px;
}

.flexbox .col-cat:nth-child(2){
	background: #4e5d5f;
}

.flexbox .col-cat:nth-child(2) p{
	margin-top:0;
}

.category-list{
	width:92%;
	margin:auto;
	padding:2%;
	margin-bottom:20px;
	font-size:16px !important;
}

.conf-tab{
  width:auto;
  background-color:#FFF;
  color:#887a6f;
}

.conf-tab b{
	color:#38aba6;
	font-weight:600;
}

.conf-tab>div{
  padding:20px;
}

.tab-wrapper{
	margin:10px 0;
}

.tab-wrapper .ui-navbar{
	width:100%;
	display:table;
}

.tab-wrapper .ui-navbar ul{
	display:table-row;
	width:100%;
}

.tab-wrapper .ui-navbar li{
	display:table-cell;
	vertical-align:middle;
	/*height:100%;*/
	height:44px;
}

.tab-wrapper .ui-navbar li a{
	box-shadow:none;
	background:none !important;
	text-shadow:none;
	width:95%;
}

.tab-wrapper .ui-btn-active, .tab-wrapper .ui-btn-up-c, .tab-wrapper .ui-btn-up-c:hover{
	border:none;
}

.tab-wrapper .ui-navbar .ui-btn-text{
	color:rgba(255, 255, 255, 0.7);
}

.tab-wrapper .ui-btn-active .ui-btn-text{
	color:rgba(255, 255, 255, 1);
	font-weight:600;
}

.tab-wrapper .ui-btn-inner, .tab-wrapper .ui-btn-inner:hover{
	background:#35a29d;
	border:none;
	color:#fff;
	text-shadow:none;
}

.tab-wrapper li .ui-btn-inner{
	background-image:none;
	white-space:normal;
	line-height:1;
}

.tab-wrapper ul li{
	background-color:#35a29d;
}

.tab-wrapper ul li.tabtwo,
.tab-wrapper .label-2 .ui-btn-inner{
	background:#39b1ac;
}

.tab-wrapper ul li.tabthree,
.tab-wrapper .label-3 .ui-btn-inner{
	background:#3cbcb6;
}

.tab-wrapper #navbar{
	width:100%;
}

.tab-wrapper .ui-btn-hover-c{
	border:none !important;
}

.tab-wrapper li{
	width:auto;
}

.tab-wrapper li.ui-block-b, .tab-wrapper li.ui-block-b:hover{
	border:none;
}

#conf-page-container strong{
	font-size:22px;
	margin-bottom:4px;
	display:block;
}

#conf-page-container div.map-collapsible{
	background:#38aba6;
	clear:both;
}

#conf-page-container div.map-collapsible .ui-btn-inner{
	margin:10px 0 0 0;
}

#conf-page-container .ui-collapsible-heading-toggle{
	background:#38aba6;
	border:none;
	color:#FFF;
	text-shadow:none;
}

#conf-page-container .ui-collapsible-heading-toggle .ui-btn-text{
	white-space:normal;
}

#conf-page-container div.map-collapsible .ui-li{
	background:none;
	color:rgb(255,255,255) !important;
	text-shadow:none;
	margin:0;
	padding:0;
}

.ui-icon-map-icon {
	background-image: url(../img/map-icon.png);
}

#conf-page-container div.ui-collapsible-content {
	padding: 0 15px 15px 15px;
}

#conf-page-container .ui-collapsible-inset{
	margin:0;
	height:auto;
}

.conf-pages .ui-li-heading{
	white-space:normal !important;
	font-weight:200 !important;
	color:#54918f !important;
}

.map-button.ui-body-c .ui-link:visited{
	color:#fff;
}

.map-button .ui-link{
	font-weight:100;
}

/***** Favorites Page ********/
h1.fav-banner{
	display:block;
	width:100%;
	background:#f89c83 url(../img/favorite-page-icon.png) no-repeat left center;
	padding:10px 0;
	height:25px;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:none;
	margin:0 0 10px 0;
}

.favorites-page #favul .ui-link-inherit{
	color:#5da4a1;
}

.favorites-page #favul .ui-link-inherit:active, .favorites-page #favul .ui-link-inherit:hover{
	color:#3c6967;
}

/**** Sub Page Content ******/
.sub-page-content{
	background:#fff;
	text-shadow:none;
	padding:15px;
	font-size:15px;
	line-height:1.2;
	color:#887a6f;
}
.ui-listview li.no-item{
	padding:15px 15px;
	background:#fff;
}

#aboutwintergroup p, #aboutmch p{
	padding:0;
}

#aboutwintergroup img, #aboutmch img{
	max-width:140px;
}

#aboutwintergroup strong, #aboutmch strong{
	font-weight:600;
}

#aboutwintergroup .sub-page-content a, #aboutmch .sub-page-content a{
	color:#56ccc7;
	text-decoration:none;
}

#aboutmch img.mch-logo-page{
	max-width:115px;
}

#aboutmch .infinite-access{
	padding:15px;
	background:#f2eae3;	
}

/***** Search Page Slider Styles *****/

#search{
	background:#fff;
}
#search-content, h2.title-bar, .search-cat ul, .search-cat ul li {height:100%;}
.search-cat, .title-bar, .cat-slider{overflow:hidden;}
.search-cat{
	position:relative;
	height:33.33%;
	min-height:65px;
}
#search-content{height:100%;display:none;}
h2.title-bar{
	display:block;
	width:100%;
	position:absolute;
	left:4%;
	top:0;
	z-index:10;
	font-size:36px;
	overflow:visible;
	color:#fff !important;
	-webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
	text-shadow:none !important;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	background-size:auto 50%;
	text-indent:-9999px;
}

h2.title-bar span{
	position:absolute;
	top:50%;
	margin-top:-18px;
	font-size:36px;
	left:210px;
	opacity:0.9;
	line-height:1;
}

.cat-slider{
	position:relative;
	padding-bottom:17px;
	height:100%;
	min-height:65px;
	overflow-x:scroll;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
}
/*.cat-slider > ul{
	-webkit-transform: translate3d(0,0,0);
}*/

.search-cat ul{
	list-style:none none;
	display:none;
	margin:0;
	padding:0 10% 0 0;
	height:65px;
	position:absolute;
	top:50%;
	margin-top:-42px;
	opacity:0;
	-webkit-transform: translateZ(0);
}
.search-cat ul li{
	list-style:none none;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding:0 15px;
	height:65px;
	line-height:65px;
	margin:0;
	border-left:1px solid rgba(204,204,204,0.6);
	border-right:1px solid rgba(90,90,90,0.4);
}
.search-cat ul li a{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	margin:0;
	padding:0;
	text-transform:titlecase;
	min-width:44px;
	line-height:1;
	line-height:65px;
	text-decoration:none;
	color:#fff !important;
	font-weight:100 !important;
	
	text-shadow:none !important;
	background:none !important;
}
.search-cat ul li:first-child{border-left:none;}
.search-cat ul li last-child{border-right:none;}
	
#sbname h2{
	background:#4e5d5f url(../img/bg-nameslider-wtext.png) no-repeat 45px center;
	background-size:auto 50%;
}
#sbdate h2{
	background:#7dd6d2 url(../img/bg-dateslider-wtext.png) no-repeat 45px center;
	background-size:auto 50%;
}
#sbcat h2{
	background:#e87b5e url(../img/bg-catslider-wtext.png) no-repeat 45px center;
	background-size:auto 50%;
}
#sbname .cat-slider{
	background:#3c494b;
}
#sbdate .cat-slider{
	background:#6ec5c1;
}
#sbcat .cat-slider{
	background:#c6664c;
}
.search-cat h2:before{
	position:absolute;
	top:0;
	left:20px;
	height:100%;
	width:11px;
	display:block;
	content:'';
	z-index:9999;
	background:transparent url(../img/bg-searcharrows.png) no-repeat right center;
}
.search-cat h2.reveal:before{
	background:transparent url(../img/bg-searcharrows.png) no-repeat left center;
}
#sbname a{
	font-size:30px;
	text-wrap:none;
}
#sbdate a{
	font-size:20px;
	text-wrap:none;
}
#sbcat a{
	font-size:17px;
	min-width:125px;
	line-height:1.5;
}
@media (max-width: 767px){

h2.title-bar span{
	position:absolute;
	top:50%;
	margin-top:-18px;
	font-size:36px;
	left:140px;
	opacity:0.7;
	line-height:1;
}	
	
}

@media (max-width: 460px){
#main-nav-bar ul li a .ui-btn-inner{
	font-size:24px;
}
}


@media (max-width: 320px){

h2.title-bar span{
	position:absolute;
	top:50%;
	margin-top:-18px;
	font-size:36px;
	left:115px;
	opacity:0.7;
	line-height:1;
}	
	
}

/* wrap push on wide viewports once open */
@media (min-width: 35em){
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
		margin-right: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin: 0 0 0 17em;
	}
	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}
}